*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: rgb(89, 89, 89);
}

header {
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    text-align: center;
}

img {
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    position: absolute;
}

#ro {
    border-radius: 5px;
    margin-left: 2rem;
    margin-top: 25rem;
    margin-bottom: 4rem;
    position: absolute;
}

#di {
    margin-top: 5rem;
    margin-left: 76rem;
    position: absolute;
    border-radius: 5px;
}

#re {
    margin-top: 25rem;
    margin-left: 80rem;
    position: absolute;
    border-radius: 5px;
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5rem;
    margin-left: 32rem;
    margin-right: 32rem;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.botoes-rodape {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;              
    margin-top: 40rem;
}

.botoes-rodape button {
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.btn-voltar {
    background-color: #444;
    color: white;
}

.btn-voltar:hover {
    background-color: #222;
}

.btn-doar {
    background-color: #444;
    color: white;
}

.btn-doar:hover {
    background-color: #222;
}

