* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

h1 {
    font-weight: 900;
    font-size: 2.4rem;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s ease;
    z-index: 999;
}

nav a:hover {
    color: blue;
}
.canto {
    position: fixed;
    background: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 98;
   
}

.canto-top-left {
    top: 0;
    height: 1000px;
    z-index: 98;
}


.canto-top-right {
    top: 0;
    right: 0;
     height: 1000px;
     z-index: 98;
}

.canto-bottom-left {
    left: 0;
    bottom: 0;
    width: 2000px;
    z-index: 98;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.caixa {
    margin-top: 2.9rem;
    width: 1384px;
    height: 736px;
    background: white;
    color: black;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    overflow-y: auto;
    position: fixed;
}
.rosa {
    width: 120px;    
    height: 120px;    
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
    margin-left: 1.2rem;
}

.ro {
    background-color: gray;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
}
.r {
    margin-left: 11rem;
}

.vrm {
    position: absolute;
    right: 20px;  
    top: 50%;
    transform: translateY(-50%);

    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.vrm:hover {
    background-color: #333;
}


