*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(270deg, black, rgb(46, 46, 46), black, rgb(45, 45, 45));
    background-size: 600% 600%;
    animation: gradientMove 8s ease infinite;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 220px;
    height: 100vh;
    bottom: 0;

}

html, body {
    height: 100%;
    overflow: hidden;
}

@keyframes gradientMove {
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 100%;}
    100%{background-position: 0% 50%;}
}

header {
    text-align: center;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 20px;
    top: 0;
    font-family: 'Dancing Script', cursive;
    left: 0;
}

main, h2 p{
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}

.btn {
    margin-top: 5.7rem;
}

.btn a  {
    font-size: 1.9rem;
    padding: 20px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    display: inline-block;
}

.btn a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
}

#imagem2 {
    margin-right: 1rem;
}
.maos {
    margin-bottom: 1rem;
    margin-top: 40px;
    z-index: 99;
    margin-left: 6.5rem;
}
footer {
    position: fixed;

}
main {
    margin-top: 80px;
}